/* Css 리셋 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    border: none;
    padding: 0px;
    background-color: unset;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary);
}

/* Var CSS */
:root {
    /* App Colors */
    --color-primary: var(--color-light-blue);
    --color-primary-variant: var(--color-blue);
    --color-accent: var(--color-cream);
    --color-accent-variant: var(--color-purple);
    --color-text: var(--color-black);

    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-red: #f12f37;
    --color-blue: #6a7892;
    --color-light-blue: #afc4e3;
    --color-cream: #ffe8c4;
    --color-purple: #3b2a43;
}
.dark {
    --color-primary: #2c3e50;
    --color-primary-variant: #34495e;
    --color-accent: #e67e22;
    --color-accent-variant: #d35400;
    --color-text: var(--color-white);
}

/* display mode */
body.dark .header__mode_icon.moon {
    display: none;
}
body.dark .header__mode_icon.sun {
    display: block;
}

/* header */
#header {
    background-color: var(--color-primary-variant);
    filter: brightness(110%);
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header__container {
    height: 100%;
    align-items: center;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.header__title {
    color: var(--color-accent);
    font-size: 30px;
    font-weight: bold;
}

.header__title:hover {
    color: var(--color-accent-variant);
}

.header__nav {
    align-items: center;
    display: flex;
    gap: 10px;
}

.header__mode_icon {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-black);
}
.header__mode_icon.moon {
    display: block;
}
.header__mode_icon.moon:hover {
    color: yellow;
}
.header__mode_icon.sun {
    display: none;
}
.header__mode_icon.sun:hover {
    color: var(--color-red);
}
.header__form {
    display: flex;
    align-items: center;
    position: relative;
}

.header__form__input {
    height: 30px;
    padding: 8px 10px;
    padding-right: 30px;
    min-width: 50ch;
    border-radius: 4px;
    border: none;
    outline-color: var(--color-accent-variant);
}

.header__form__button {
    position: absolute;
    right: 0px;
    height: 30px;
    width: 30px;
}

/* modal */

/* backdrop */
#back_drop {
    position: fixed;
    background-color: black;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
}
#back_drop.active {
    z-index: 3;
    opacity: 0.8;
}

/* modal */

#modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    background-color: var(--color-black);
    z-index: 4;
    width: 40%;
    height: 70%;
    transform: translateY(-50%) translateX(-50%) scale(0%);
    color: var(--color-accent);
    transition: all 0.2s linear;
    top: 50%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
}
#modal.active {
    transform: translateY(-50%) translateX(-50%) scale(100%);
}

.modal__top {
    position: relative;
    height: 100%;
    display: flex;
    align-items: end;
    padding: 0 8px;
    padding-bottom: 16px;
    color: var(--color-white);
}
.modal__buttom {
    height: 100%;
    padding: 0 8px;
    padding-top: 16px;
    line-height: 150%;
    filter: brightness(120%);
    background-color: var(--color-black);
}

.modal__bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    z-index: -1;
}

.modal__title {
    font-size: 40px;
    font-weight: bold;
}

.modal__exitBtn {
    position: absolute;
    top: 16px;
    right: 24px;
    color: white;
    cursor: pointer;
    padding: 4px;
    font-size: 16px;
}
.modal__exitBtn:hover {
    color: var(--color-red);
}

/* footer */

#footer {
    background-color: var(--color-primary-variant);
    filter: brightness(110%);
    height: 100px;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: var(--color-text);
}

.footer__title {
    color: var(--color-accent);
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    #header {
        padding: 0px 40px;
    }
    .header__title {
        font-size: 25px;
    }
    #modal {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    #header {
        padding: 0px 16px;
    }
    .header__form__input {
        min-width: 0px;
    }
    #modal {
        width: 100%;
        height: 100%;
    }
}

/* 로딩 */

.loading {
    display: none;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

.loading.active {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: var(--color-text);
}

.loading.active {
    animation: rotation infinite 0.8s linear;
}

/* 키프레임 */
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
