@import url(./global.css);

/* main */
#main {
    max-width: 1200px;
    margin: 0 auto;
}

.category {
    margin: 40px 0px;
}

.category__title {
    font-size: 25px;
    font-weight: bold;
}

/* card */
.card_container {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.card_carousel {
    display: flex;
    transition: all 0.3s linear;
}

.card {
    flex-shrink: 0;
    margin-left: 4px;
    height: 350px;
    width: calc((100% - 20px) / 5);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.card:hover {
    transform: scale(95%);
}

.card__next,
.card__prev {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    padding: 4px;
    color: var(--color-text);
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    z-index: 1;
}
.card__next:hover,
.card__prev:hover {
    background-color: var(--color-primary);
    color: var(--color-black);
}

.card__next {
    right: 0;
}
.card__prev {
    left: 4px;
    display: none;
}

@media screen and (max-width: 1200px) {
    #main {
        margin: 0px 40px;
    }
    .card {
        width: calc((100% - 17px) / 4);
    }
}
@media screen and (max-width: 768px) {
    #main {
        margin: 0px 16px;
    }
    .card {
        width: calc((100% - 13px) / 3);
    }
}

@media screen and (max-width: 580px) {
    .card {
        width: calc((100% - 8px) / 2);
    }
}
