@import url(../../global.css);
/* main */
#main {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

/* grid */
.card_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    margin: 40px 0px;
}

.card {
    flex-shrink: 0;
    height: 350px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.card:hover {
    transform: scale(95%);
}

/* 더보기버튼 */
.addMovie_btn {
    width: 100%;
    background-color: var(--color-accent-variant);
    color: var(--color-accent);
    filter: brightness(150%);
    margin: 20px 0px;
    border-radius: 16px;
    padding: 20px 0px;
}

/* 미디어쿼리 */
@media screen and (max-width: 1200px) {
    #main {
        padding: 0px 40px;
    }
    .card_container {
        grid-template-columns: repeat(4, 1fr);
    }
    .card {
        height: 400px;
    }
}

@media screen and (max-width: 988px) {
    .card_container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        height: 450px;
    }
}

@media screen and (max-width: 775px) {
    .card_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}
@media screen and (max-width: 555px) {
    .card_container {
        grid-template-columns: repeat(1, 1fr);
    }
}
