@import url(../../global.css);
/* main */
#main {
    max-width: 1200px;
    margin: 0 auto;
}

.search__title {
    font-size: 25px;
    font-weight: bold;
    margin: 40px 0px;
}

.search__empty {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0px;
}

/* grid */
.card_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    margin-bottom: 40px;
}

.card {
    flex-shrink: 0;
    height: 350px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.card:hover {
    transform: scale(95%);
}

/* 더보기버튼 */
.addMovie_btn {
    width: 100%;
    background-color: var(--color-accent-variant);
    color: var(--color-white);
    margin: 20px 0px;
    border-radius: 16px;
    padding: 20px 0px;
    display: none;
}

/* 슬라이드업 */

.scroll_up {
    position: fixed;
    bottom: 16px;
    right: calc(50% - 648px);
    font-size: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: var(--color-accent-variant);
    border-radius: 100%;
    color: var(--color-white);
    padding: 5px;
    cursor: pointer;
}
.scroll_up:hover {
    background-color: var(--color-primary-variant);
    color: var(--color-black);
}

/* 미디어쿼리 */
@media screen and (max-width: 1200px) {
    #main {
        padding: 0px 40px;
    }
    .card_container {
        grid-template-columns: repeat(4, 1fr);
    }
    .card {
        height: 400px;
    }
    .scroll_up {
        right: 8px;
    }
}

@media screen and (max-width: 988px) {
    .card_container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        height: 450px;
    }
}

@media screen and (max-width: 775px) {
    .card_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}
@media screen and (max-width: 555px) {
    .card_container {
        grid-template-columns: repeat(1, 1fr);
    }
}
